section {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  height: 500px;
  margin-top: 3%;
}

.profile {
  border-right: 5px solid #ff0097e8;
  background-image: url('./IMG_7052.jpg');
  border-radius: 50%;
  margin: 5% 15%;
  background-repeat: no-repeat;
  background-size: cover;
}

.profileImg {
  border-radius: 50%;
}

.content {
  margin-left: 3%;
}

.aboutTitle {
  font-family: "Monoton";
  color: black;
  font-size: 3em;
  word-spacing: 15px;
}

.socialMedia {
  display: flex;
  flex-direction: column;
}

.fab {
  color: #ff0097e8;
  font-size: 2em;
}

#icon {
  margin: 4% 0;
  margin-left: 80%;
}